<div class="text-center mt-4">
  <p>Sorry, the shortend URL "{{shortUrl}}"is not in use.</p>
</div>
<div class="text-center mt-4">
  <a class="btn btn-primary" href="/" role="button">Create a short URL</a>
</div>