<div class="container text-center mt-3">
  <img class="mb-3" src="/images/link-2.svg" alt="URL-Shortener-img" style="max-height: 250px; max-width: 250px;">
  {{#unless shortedURL}}
  <form action="/" method="POST" class="needs-validation" novalidate>
    <div class="form-group">
      <input class="form-control mx-auto" type="url" name="inputURL" id="inputURL" placeholder="Input URL here"
        aria-describedby="validationURLFeedback" required style="max-width: 800px;">
      <div id="validationURLFeedback" class="invalid-feedback">
        請輸入有效網址！
      </div>
    </div>
    <button class="btn btn-secondary btn-lg col-3" type="submit">Shorten</button>
  </form>
  {{/unless}}
  {{#if shortedURL}}
  <div class="alert alert-success mx-auto" style="max-width: 800px;" role="alert">
    <h4>Success! Please use this link:</h4>
    <a href="{{shortedURL}}">
      <h5 id="shortedURL">{{shortedURL}}</h5>
    </a>
    <button class="btn btn-warning btn-lg col-3 mt-2" onclick="copyURL()">Copy</button>
  </div>
  <script src="/javascripts/cpoyURL.js"></script>
  {{/if}}
</div>