<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A3: 打造餐廳清單</title>
  <!-- link css files here bootstrap-->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body>
     <!-- navigation -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#"></a>
        </div>
    </nav>

    <!-- partial templates will replace the part of "body" here -->
    {{{ body }}}





    <!-- include javascript files here 這裡需要注意順序:jquery>popper.js>bootstrap.js -->
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>