<div class="container d-flex justify-content-center my-5">
  <div class="card text-center" style="width: 40rem;">
    <div class="card-header">
      <h3 class="title">URL Shortener</h3>
    </div>
    <div class="card-img" style="font-size:12rem;">
      <i class="fas fa-link" style="width: 20rem; height: 20rem;"></i>
    </div>
    <div class="card-info">
      <div class="info">
        <h5>Success! Please use this link:</h5>
      </div>
      <div class="link">
        <a href="/{{randomUrl}}">{{shortUrl}}</a>
      </div>
    </div>
  </div>
</div>