
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Oops!</h4>
  <p>Your action fails due to following reason:</p>
  <p class="mb-0">{{error.reason}}</p>
  <a class='btn btn-outline-primary mt-3' href="/">Return to landing page</a>
</div>