<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <header>

   
    <a href="/" class="link" id="1">
      <button>
        回到首頁
      </button>
    </a>
      
    <a href="/about" class="link" id="2">
      <button>
        About
      </button>
    </a>
      
    <a href="/portfolio" class="link" id="3">
      <button>
        Portfolio
      </button>
    </a>

    <a href="/contact" class="link" id="4">
      <button>
        Contact
      </button>
    </a>

  </header>

  {{{ body }}}
</body>
</html>