#main {
  margin: 0 auto;
}


.carousel .carousel-item {
  height: 680px;
  width: 100%; 
}

.carousel .carousel-item img {
  width: 100%;
  height: 680px;
  margin: 0 auto;
}

#madal-header {
  background-color: #fdb827;
}

