<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.css">
  <script src="https://kit.fontawesome.com/d9d337a752.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">
</head>

<body>
  {{{body}}}
  <script scr="/javascripts/jquery-3.3.1.js"></script>
  <script scr="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>